<div class="row justify-content-center mt-4 mb-4">
    <h1><%= @list.name %></h1>
</div> 


<h4 class="ml-3 mb-4">
  <strong>Bookmarked movies</strong>
  <%=  %>
</h4>


<% if @list.movies.any? %>
  <p>
    <ul>
      <% @list.bookmarks.each do |bookmark| %>
        <li class="list-group-item  mt-3"><%= bookmark.movie.title%> | Rating: <%= bookmark.movie.rating%>
        <p> <%= bookmark.movie.overview%></p>
        <%= bookmark.id%></li>
        <%= link_to 'Delete bookmark', list_bookmark_path(@list), method: :delete, class: 'btn btn-danger mt-3 mb-3', data: { confirm: "Destroy bookmark?"}%></li>
      <% end %>  
    </ul>
  </p>
<% else %>
  <p>No movies</p>
<% end %>
<%= link_to 'Add movie', new_list_bookmark_path(@list), class: "btn btn-dark ml-3" %>
<%= link_to 'Back', lists_path, class: "btn btn-dark ml-3"  %>

